---
layout: default
permalink: /
---
	<div id="fh5co-header" style="background-image: url(/images/polygon.png);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="bio-photo text-center">
			<a href="/"><img src="/images/person_2.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
		</div>
	</div>

	<div id="fh5co-main">
		
		<!-- Works -->
		{% include work.html %}
		<!-- End Works -->
		
		<!-- About Us -->
		{% include about.html %}
		<!-- End About Us -->

		<!-- Contact -->
		{% include contact.html %}
		<!-- End Contact -->

		<!-- Footer -->
		{% include footer.html %}
		<!-- End Footer -->
	</div>