<div class="fh5co-section">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12 section-heading">
				<h2>03. Contact</h2>
			</div>
			<div class="col-md-8 col-sm-8 col-xs-12">
				<div class="col-md-12">
					<form action="#">
						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<input type="text" class="form-control" placeholder="First Name">		
								</div>
								<div class="col-md-6">
									<input type="text" class="form-control" placeholder="Last Name">
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row">
								<div class="col-md-12">
									<input type="email" class="form-control" placeholder="Email">		
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row">
								<div class="col-md-12">
									<textarea name="email" id="email" cols="30" class="form-control" rows="10" placeholder="Message"></textarea>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<input type="submit" class="btn btn-primary btn-outline btn-lg btn-block" value="Submit">
								</div>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>