<div class="fh5co-section fh5co-works">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12 section-heading">
				<h2>01. My Works</h2>
			</div>
			<div class="col-md-8 col-sm-8 col-xs-12">
				<div class="row">
					{% for item in site.data.work %}
						<div class="col-md-6 col-sm-6 col-xs-6 work animate-box">
							<a href="/images/{{item.link}}" class="image-popup" title="Title Of Work Here">
								<img src="/images/{{item.src}}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co" class="img-responsive">
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>